/* NAVBAR */
.nav-wrapper {
  display:flex;
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  background-color: $navbar-bg;
  @media #{$tablet-up} {
    border-bottom: 4px solid #14131a;
  }
}

.nav {
  display: flex;
  margin: 0;
  padding: 0;
  height: $navbar-height;
  list-style: none;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  @media #{$tablet-up} {
    margin-left: 320px;

    overflow: inherit;
    white-space: normal;
  }
}
.nav__item {
  position: relative;
  padding: 0 10px;
  &:hover, &:focus {
    background-color: $navbar-hover-bg;
  }
  &:first-child {
    padding-left: 0;
  }
}
.nav__link {
  font-weight: bold;
  font-size: 14px;
  color: $navbar-color;
  text-decoration: none;
  line-height: $navbar-height;

  @media #{$tablet-up} {
    font-size: 16px;
  }
}

.nav__dropdown {
  position: fixed;
  top: 45px;
  left: 0;
  width: 100%;
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 5px;
  background-color: #394264;

  height: 0;
  max-height: 0;
  opacity: 0;
  visibility: hidden;

  @media #{$tablet-up} {
    position: absolute;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    width: 200px;
  }
}
.dropdown__item {
  padding: 0 10px;
  list-style: none;
  opacity: 0;
  &:last-child a {
    border-bottom: none;
  }

}
.dropdown__link {
  display: inline-block;
  width: 100%;
  color: $dropdown-color;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  line-height: 35px;
  border-bottom: 1px solid $dropdown-border-color;
  &:hover {
    font-weight: bold;
  }
}

// Dropdown animation
.nav__item:focus .nav__dropdown,
.nav__item:hover .nav__dropdown,
.nav__dropdown:hover {
  opacity: 1;
  visibility: visible;
  height: auto;
  max-height: 1000px;
  transition: max-height 1s;
  .dropdown__item {
    opacity: 1;
    transition: opacity .5s ease .2s;
  }
}
/* End Navbar */


/* Hamburger menu */
.toc-toggle {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  height: $navbar-height;
  line-height: $navbar-height;
  vertical-align: middle;
  span {
    display: block;
    position: relative;
    top: 20px;
    width: $lineLength;
    height: $lineWidth;
    background-color: $hamburger-bg;

    transition: all .2s;

    &::after, &::before {
      display: block;
      content: '';
      position: absolute;
      width: $lineLength;
      height: $lineWidth;
      background-color: $hamburger-bg;

      transition: all .2s;
    }
    &::before {
      margin-top: -$baseMargin;
    }
    &::after {
      margin-top: $baseMargin;
    }
  }
  &.open {
    span {
      background-color: transparent;
      &::before, &::after {
        margin-top: 0px;
        transition: all .2s
      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
  }
  @media (min-width: 767px) {
    display: none;
  }
}

/* MAIN CONTENT */
.container {
  // width: calc(100%-280px);
  max-width: 955px;
  margin: 65px auto 30px;
  padding: 0 10px;
  @media #{$tablet-up} {
    margin-left: 320px;
    margin-right: 0;
    padding: 0;
  }
}

/* SIDEBAR */
.container > ul:first-child {
  position: fixed;
  top: $navbar-height;
  left: 0;
  width: 100%;
  padding-left:12px;
  margin-left: 0;
  list-style: none;
  background-color: $sidebar-bg;

  height: 0;
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  transition: height .3s;

  @media #{$tablet-up} {
    max-height: none;
    width: 280px;
    height: 100vh;
    padding: 18px 10px 100px 15px;
    visibility: visible;
    opacity: 1;
    overflow-y: auto;
  }
  &.expand {
    height: auto;
    max-height: 1000px;
    visibility: visible;
    opacity: 1;
    transition: all .6s;
  }
  li {
    margin-bottom: 15px;
  }

  li a {
    text-decoration: none;
  }

  /* level 2 of sidebar */
  ul {
    list-style-type: square;
    color: $sidebar-color2;
    li {
      margin-bottom: 6px;
      a {
        color: $sidebar-color2;
      }
    }
  }
}
