h1, h2, h3, h4 {
  font-weight: 600;
}
h1 {
  margin-top: 1em;
  font-size: 1.7em;
  color: $h1-color !important;
  border-bottom: 1px solid #e7e7e7;
  @media (min-width: 767px) {
    font-size: 2.25em;
  }
}
h2 {
  font-size: 1.7em;
  color: $h2-color !important;
}
h3 {
  color: $h3-color !important;
}
h4 {
  font-size: 1.25em;
  margin-bottom: 8px;
  color: $h4-color !important;
  @media (min-width: 767px) {
    margin-bottom: 16px;
  }
}
del {
  color: $strike-color;
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
}
strong > em {
  color: $bold-italic-color !important;
}
em {
  color: $italic-color;
}
h6 {
  font-size: 1.0em;
  margin-bottom: 5px;
  margin-top: 5px;
  color: $h6-color !important;
}
ul > li > p, ol > li > p {
  margin-bottom: 0 !important;
}
p {
  line-height: 1.3em;
  margin-bottom: 14px;
  font-size: 0.9em;
}
p + pre.editor-colors {
  margin-top: -10px;
}
a {
  color: $link-color;
  text-decoration: underline;
}
dl dt {
  color: $definition-color !important;
  font-style: normal;
  font-size: 0.85em;
  font-weight: bold;
}
dl dd {
  margin: 0 0 16px;
  padding-left: 16px;
}

table {
  margin: 10px 0px 15px;
  border-collapse: collapse;
  border-spacing: 0px;
  display: block;
  width: 100%;
  overflow: auto;
  word-break: keep-all;
  th, td {
    padding: 6px 12px;
    border: 1px solid #e8e8e8;
  }
}

/**
 * Code formatting
 */
pre,
code {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  border-radius: 3px;
}
code {
  padding: 0.2em 0;
  font-size: 0.85em;
  background-color: #eef;
  border: 1px solid #e8e8e8;
}

.highlight {
  code {
    font-size: 0.85em;
    padding: 0.2em 0px; 
    background-color: transparent;
    border: 1px solid #e8e8e8;
  }

  pre {
    margin: 16px 0;
    color: #f8f8f2;
    font-size: 15px;
    padding: 1em;
    background-color: #272822;
    border: 1px solid #181818;
    overflow-x: auto; 
  }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; 
  }
}