$navbar-height: 45px;
$lineWidth: 3px;
$lineLength: 25px;
$baseMargin: 8px;

$navbar-bg: #2b2937;
$navbar-color: #ced4ec;
$dropdown-bg: #394264;
$dropdown-color: #ced4ec;
$navbar-hover-bg: $dropdown-bg;
$dropdown-border-color: darken($dropdown-color, 15%);

$hamburger-bg: #7deaff;

$sidebar-bg: #2b2937;
$sidebar-color: #7deaff;
$sidebar-color2: #CCFFEF;

$h1-color: #04345f;
$h2-color: lighten($h1-color, 2%);
$h3-color: lighten($h1-color, 12%);
$h4-color:  lighten($h1-color, 12%);
$h6-color: lighten($h1-color, 12%);

$link-color: #73c9da;
$definition-color: #36bfba;
$bold-color: #191919;
$italic-color: orange;
$bold-italic-color: #e80a50;
$strike-color: #0bcabd;

$tablet-up: "(min-width: 767px)";
$desktop-up: "(min-width: 1024px)";