<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/css/main.css' | absolute_url }}">
    <script src="{{'/js/main.js' | absolute_url }}" type="text/javascript"></script>
  </head>

  <body>
  	<div class="nav-wrapper">
  		<div id="toggle_toc" class="toc-toggle"><span></span></div>
  		<ul id="navbar" class="nav">
  			{% for item in site.data.navigation %}
          <li class="nav__item">
            <a class="nav__link" href="#">{{ item.title }}</a>
            <ul class="nav__dropdown">
              {% for subitem in item.subfolder %}
                <li class="dropdown__item">
                  <a class="dropdown__link" href="{{ subitem.url | absolute_url }}">{{ subitem.page }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
  		</ul>
  	</div>

    <main class="container">
      {{ content }}
    </main>
  </body>
</html>